@import "compass"

@mixin cloud-tag($i, $fontSize)
  li.size-#{$i}
    font-size: $fontSize

.search-query
  @include border-radius(6px 0 0 6px)
  width: 300px
  height: 30px
  font-size: 25px
  border-right: 0 none
  float: left

button.search
  @include border-radius(0 6px 6px 0)
  float: left
  height: 40px

header.main
  height: 60px

.search-container
  width: 500px
  margin: 0 auto

.search-container
  .search-query
    margin-left: 45px
    line-height: 26px

.well
  .page-header
    margin: 0

.likes
  list-style: none
  li
    display: inline
    float: right

.cloud-tags
  list-style: none
  li
    display: inline
    line-height: 28px
    padding: 5px
  @include cloud-tag(6, 14px)
  @include cloud-tag(5, 16px)
  @include cloud-tag(4, 18px)
  @include cloud-tag(3, 20px)
  @include cloud-tag(2, 22px)
  @include cloud-tag(1, 24px)
  @include cloud-tag(0, 26px)
